# Note
  -  Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import pandas as pd
import numpy as np
import os
csv_file = "purchase_data.csv"

In [2]:
# Read csv File into Pandas data frame
purchase_data = pd.read_csv(csv_file)

# Player count
 - Display the total number of players

In [3]:
# Displaying the total number of players

Total_Players = len(purchase_data["SN"].unique())
tot_players_dict={"Total Players":[Total_Players]}
tot_plyr_df = pd.DataFrame.from_dict(tot_players_dict, orient='columns')
tot_plyr_df

   Total Players
0            576

# Purchasing Analysis (Total)
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [4]:
#Number of Unique Items: Calculated as the number of unique values in the Item ID column from heroes_df dataframe.

Unique_items = len(purchase_data["Item ID"].unique())

#Average Purchase Price: Calculated as the mean of all values in Price column from heroes_df dataframe.

Average_price = purchase_data["Price"].mean()

#Total Number of Purchases: Calculated as the total number of records in heroes_df dataframe.

Number_of_purchases = purchase_data["Purchase ID"].count()

#Total Revenue: Calculated as the sum of all values in Price column from heroes_df dataframe.
TotalRevenue = sum(purchase_data["Price"])



#Making a blank dataframe

summarytable_df = pd.DataFrame()
summarytable_df["Unique_items"] = [Unique_items]
summarytable_df["Number_of_purchases"] = [Number_of_purchases]
summarytable_df["Average_price"] = [Average_price]
summarytable_df["TotalRevenue"] = [TotalRevenue ]

summarytable_df

   Unique_items  Number_of_purchases  Average_price  TotalRevenue
0           179                  780       3.050987       2379.77

# Gender Demographics
 - Percentage and Count of Male Players

 - Percentage and Count of Female Players

 - Percentage and Count of Other / Non-Disclosed

In [5]:
#Gender Demographics

 
Count_players_gender = purchase_data["Gender"].value_counts()
Count_players_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [6]:
#Total count of players

Count_total_players = len(purchase_data["Gender"])
Count_total_players

780

In [7]:
#Count of Male Players

Count_Male_players = len(purchase_data[purchase_data['Gender']== "Male"])

Count_Male_players

652

In [8]:
#Count of Female Players

Count_Female_players = len(purchase_data[purchase_data['Gender']== "Female"])

Count_Female_players

113

In [9]:
# Percentage of male players

male_player_pct = round((Count_Male_players)/(Count_total_players)*100)

male_player_pct

84

In [10]:
# Percentage of Female players

Female_player_pct = round((Count_Female_players)/(Count_total_players)*100)

Female_player_pct

14

In [11]:
#Count of Other / Non-Disclosed players

Count_Other_players =  len(purchase_data[purchase_data['Gender']== "Other / Non-Disclosed"])

Count_Other_players

15

In [12]:
# Percentage of Other / Non-Disclosed players

Other_player_pct = round((Count_Other_players)/(Count_total_players)*100)

Other_player_pct

2

In [13]:
# Summary of Count and percentage of Players by Gender

player_gender_summary_df = pd.DataFrame()

player_gender_summary_df["Count_Male_players"] = [Count_Male_players]
player_gender_summary_df["Count_Female_players"] = [Count_Female_players]
player_gender_summary_df["Count_Other_players"] = [Count_Other_players]
player_gender_summary_df["Count_total_players"] = [Count_total_players]
player_gender_summary_df["Male_player_pct"] =  [male_player_pct]
player_gender_summary_df["Female_player_pct"] = [Female_player_pct]
player_gender_summary_df["Other_player_pct"]  = [Other_player_pct]

player_gender_summary_df.head()

,Count_Male_players,Count_Female_players,Count_Other_players,Count_total_players,Male_player_pct,Female_player_pct,Other_player_pct
0,652,113,15,780,84,14,2

#  Purchasing Analysis (Gender)
 - Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

 - Create a summary data frame to hold the results

 - Optional: give the displayed data cleaner formatting

 - Display the summary data frame

In [14]:
# Purchase Count by gender

Male_purchase_count = len(purchase_data[purchase_data['Gender']== "Male"])
Female_purchase_count = len(purchase_data[purchase_data['Gender']== "Female"])
Other_purchase_count = len(purchase_data[purchase_data['Gender']== "Other / Non-Disclosed"])


print("Male_purchase_count", Male_purchase_count)

print("Female_purchase_count", Female_purchase_count)

print("Other_purchase_count", Other_purchase_count)

Male_purchase_count 652
Female_purchase_count 113
Other_purchase_count 15

In [15]:
# Average purchase price by gender Male

# Create a list of the columns
columns = [ "Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]

#  Create a new df for "Male Players" with the columns. 

Male_df = purchase_data.loc[purchase_data["Gender"]=="Male", columns]

Male_purchase_count = len(purchase_data[purchase_data['Gender']== "Male"])

Male_Total_Pur_Price = sum(Male_df["Price"])

Male_Avg_Pur_Price = Male_Total_Pur_Price/Male_purchase_count


Summary_df = pd.DataFrame()
Summary_df["Male_purchase_count"] = [Male_purchase_count]
Summary_df["Male_Total_Pur_Price"] = [Male_Total_Pur_Price]
Summary_df["Male_Avg_Pur_Price"] = [Male_Avg_Pur_Price]

Summary_df

   Male_purchase_count  Male_Total_Pur_Price  Male_Avg_Pur_Price
0                  652               1967.64            3.017853

In [16]:
# Average purchase price by gender Female

# Create a list of the columns
columns = [ "Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]

# Create a new df for "Female Players" with the columns. 

Female_df = purchase_data.loc[purchase_data["Gender"]=="Female", columns]

Female_Total_Pur_Price = sum(Female_df["Price"])

Female_count = Female_df["Gender"].count()

Female_Avg_Pur_Price = Female_Total_Pur_Price/Female_purchase_count


Summary_df = pd.DataFrame()
Summary_df["Female_count"] = [Female_count]
Summary_df["Female_Total_Pur_Price"] = [Female_Total_Pur_Price]
Summary_df["Female_Avg_Pur_Price"] = [Female_Avg_Pur_Price]

Summary_df

   Female_count  Female_Total_Pur_Price  Female_Avg_Pur_Price
0           113                  361.94              3.203009

In [17]:
# Average purchase price by gender "Others/Non-disclosed"

# Create a list of the columns
columns = [ "Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]

# Create a new df for "Male Players" with the columns. 

Others_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", columns]

Others_count = Others_df["Gender"].count()

Others_Total_Pur_Price = sum(Others_df["Price"])

Others_Avg_Pur_Price = Others_Total_Pur_Price/Others_count


Summary_df = pd.DataFrame()
Summary_df["Others_count"] = [Others_count]
Summary_df["Others_Total_Pur_Price"] = [Others_Total_Pur_Price]
Summary_df["Others_Avg_Pur_Price"] = [Others_Avg_Pur_Price]
Summary_df

   Others_count  Others_Total_Pur_Price  Others_Avg_Pur_Price
0            15                   50.19                 3.346

# Age Demographics
 - Establish bins for ages
    
- Categorize the existing players using the age bins. Hint: use pd.cut()

- Calculate the numbers and percentages by age group

- Create a summary data frame to hold the results

- Optional: round the percentage column to two decimal points

- Display Age Demographics Table

In [18]:
Min_age = purchase_data["Age"].min()
print("Min_age", Min_age)

Max_age = purchase_data["Age"].max()
print("Max_age", Max_age)


#Create bins in which data will be held. 

bins = [0,10,15,20,25,30,35,40,45]

Age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

# Cut purchase data and place the ages into bins

Age_df = pd.cut(purchase_data["Age"], bins, labels = Age_group)
Age_df.head(10)

Min_age 7
Max_age 45

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
5    20-24
6    35-39
7    15-19
8    20-24
9    30-34
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '>=40']

In [19]:
# Place the data series into a new column inside of the DataFrame

purchase_data["Age_range"] = Age_df

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [20]:
# Distribution of Male/Female/Others - Non-disclosed by "Age_range"

Age_grp_gen = purchase_data.groupby("Age_range")["Gender"].value_counts()
Age_grp_gen

Age_range  Gender
<10        Male                      25
           Female                     7
10-14      Male                      41
           Female                    11
           Other / Non-Disclosed      2
15-19      Male                     167
           Female                    28
           Other / Non-Disclosed      5
20-24      Male                     270
           Female                    51
           Other / Non-Disclosed      4
25-29      Male                      70
           Female                     7
30-34      Male                      43
           Female                     7
           Other / Non-Disclosed      2
35-39      Male                      29
           Female                     2
           Other / Non-Disclosed      2
>=40       Male                       7
Name: Gender, dtype: int64

In [21]:
#Calculate the numbers by age group

Age_grp = purchase_data.groupby("Age_range")["Gender"].count()
Age_grp

Age_range
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
>=40       7
Name: Gender, dtype: int64

In [22]:
#Players percentage by age range.

Age_pct = round(purchase_data["Age_range"].value_counts()/780 * 100, 2)
Age_pct

20-24    41.67
15-19    25.64
25-29     9.87
10-14     6.92
30-34     6.67
35-39     4.23
<10       4.10
>=40      0.90
Name: Age_range, dtype: float64

In [23]:
#Combining Players count and percentage in a summary dataframe

summary_df = pd.DataFrame()
summary_df["Age_pct"] = Age_pct
summary_df["Age_grp"] = Age_grp
summary_df

       Age_pct  Age_grp
20-24    41.67      325
15-19    25.64      200
25-29     9.87       77
10-14     6.92       54
30-34     6.67       52
35-39     4.23       33
<10       4.10       32
>=40      0.90        7

# Purchasing Analysis (Age)
 
 - Bin the purchase_data data frame by age

 - Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

 - Create a summary data frame to hold the results

 - Optional: give the displayed data cleaner formatting

 - Display the summary data frame

In [24]:
#Create bins in which data will be held. 

bins = [0,10,15,20,25,30,35,40,45]

Age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]


# Cut purchase data and place the ages into bins

Age_df = pd.cut(purchase_data["Age"], bins, labels = Age_group)
Age_df.head(10)

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
5    20-24
6    35-39
7    15-19
8    20-24
9    30-34
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '>=40']

In [25]:
#Run basic calculations to obtain purchase count 

Pur_count = purchase_data.groupby("Age_range")["Item ID"].count()
Pur_count

Age_range
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
>=40       7
Name: Item ID, dtype: int64

In [26]:
#Run basic calculations to obtain Avg.purchase price

Avg_pur_price = purchase_data.groupby("Age_range")["Price",].mean()
Avg_pur_price

              Price
Age_range
<10        3.405000
10-14      2.900000
15-19      3.107800
20-24      3.020431
25-29      2.875584
30-34      2.994423
35-39      3.404545
>=40       3.075714

In [27]:
#Run basic calculations to obtain purchase total per person 

Total_purchase_value = purchase_data.groupby("Age_range")["Price"].sum()
Total_purchase_value

Age_range
<10      108.96
10-14    156.60
15-19    621.56
20-24    981.64
25-29    221.42
30-34    155.71
35-39    112.35
>=40      21.53
Name: Price, dtype: float64

In [28]:
Avg_purchase_value = Total_purchase_value /576
Avg_purchase_value

Age_range
<10      0.189167
10-14    0.271875
15-19    1.079097
20-24    1.704236
25-29    0.384410
30-34    0.270330
35-39    0.195052
>=40     0.037378
Name: Price, dtype: float64

In [29]:
#Create a summary data frame to hold the results

Price_summary_df = pd.DataFrame()
Price_summary_df["Pur_count"] = Pur_count
Price_summary_df["Avg_pur_price"] = Avg_pur_price
Price_summary_df["Total_purchase_value"] = Total_purchase_value 
Price_summary_df["Avg_purchase_value"] = Avg_purchase_value
Price_summary_df

           Pur_count  Avg_pur_price  Total_purchase_value  Avg_purchase_value
Age_range
<10               32       3.405000                108.96            0.189167
10-14             54       2.900000                156.60            0.271875
15-19            200       3.107800                621.56            1.079097
20-24            325       3.020431                981.64            1.704236
25-29             77       2.875584                221.42            0.384410
30-34             52       2.994423                155.71            0.270330
35-39             33       3.404545                112.35            0.195052
>=40               7       3.075714                 21.53            0.037378

# Top Spenders
 
 - Run basic calculations to obtain the results in the table below

 - Create a summary data frame to hold the results

 - Sort the total purchase value column in descending order

 - Optional: give the displayed data cleaner formatting

 - Display a preview of the summary data frame

In [30]:
pd_data = Price_summary_df.sort_values(["Total_purchase_value"], ascending=False)
pd_data.head(10)

           Pur_count  Avg_pur_price  Total_purchase_value  Avg_purchase_value
Age_range
20-24            325       3.020431                981.64            1.704236
15-19            200       3.107800                621.56            1.079097
25-29             77       2.875584                221.42            0.384410
10-14             54       2.900000                156.60            0.271875
30-34             52       2.994423                155.71            0.270330
35-39             33       3.404545                112.35            0.195052
<10               32       3.405000                108.96            0.189167
>=40               7       3.075714                 21.53            0.037378

In [31]:
# Purchase Count

Purchase_count = purchase_data.groupby(["Item ID","Item Name"]).count()["Purchase ID"]
Purchase_count.head(10)

Item ID  Item Name
0        Splinter                             4
1        Crucifer                             4
2        Verdict                              6
3        Phantomlight                         6
4        Bloodlord's Fetish                   5
5        Putrid Fan                           4
6        Rusty Skull                          2
7        Thorn, Satchel of Dark Souls         7
8        Purgatory, Gem of Regret             3
9        Thorn, Conqueror of the Corrupted    4
Name: Purchase ID, dtype: int64

In [32]:
# Item price

Item_price = purchase_data.groupby(["Item ID","Item Name"]).mean()["Price"]
Item_price.head(10)

Item ID  Item Name
0        Splinter                             1.2800
1        Crucifer                             2.9425
2        Verdict                              2.4800
3        Phantomlight                         2.4900
4        Bloodlord's Fetish                   1.7000
5        Putrid Fan                           4.0800
6        Rusty Skull                          3.7000
7        Thorn, Satchel of Dark Souls         1.3300
8        Purgatory, Gem of Regret             3.9300
9        Thorn, Conqueror of the Corrupted    2.7300
Name: Price, dtype: float64

In [33]:
# Total Purchase Count

Total_purchase_value = purchase_data.groupby(["Item ID","Item Name"]).sum()["Price"]
Total_purchase_value.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer              11.77
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [34]:
# Convert to DataFrame

items_summary_df = pd.DataFrame()
items_summary_df["Purchase_count"] = Purchase_count
items_summary_df["Item_price"] = Item_price
items_summary_df["Total_purchase_value"] = Total_purchase_value

items_summary_df.head(10)

,,Purchase_count,Item_price,Total_purchase_value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
5,Putrid Fan,4,4.0800,16.32
6,Rusty Skull,2,3.7000,7.40
7,"Thorn, Satchel of Dark Souls",7,1.3300,9.31
8,"Purgatory, Gem of Regret",3,3.9300,11.79
9,"Thorn, Conqueror of the Corrupted",4,2.7300,10.92

In [35]:
# Sort the purchase count column in descending order

Sorted_pur_count_df = items_summary_df.sort_values(["Purchase_count"], ascending=False)
Sorted_pur_count_df.head(10)

,,Purchase_count,Item_price,Total_purchase_value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
82,Nirvana,9,4.900000,44.10
75,Brutality Ivory Warmace,8,2.420000,19.36
103,Singed Scalpel,8,4.350000,34.80
34,Retribution Axe,8,2.220000,17.76
37,"Shadow Strike, Glory of Ending Hope",8,3.160000,25.28

# Most Popular Items
 
 - Retrieve the Item ID, Item Name, and Item Price columns

 - Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

 - Create a summary data frame to hold the results

 - Sort the purchase count column in descending order

 - Optional: give the displayed data cleaner formatting

 - Display a preview of the summary data frame

In [36]:
### Most Popular Items

  # Identify the 5 most popular items by purchase count, then list (in a table):
  # Item ID
  # Item Name
  # Purchase Count
  # Item Price
  # Total Purchase Value

# Sort table to show the top five spenders.

top_five_spenders = items_summary_df.sort_values("Purchase_count", ascending=False)
top_five_spenders.head(5)

,,Purchase_count,Item_price,Total_purchase_value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

# Most Profitable Items
 
 - Sort the above table by total purchase value in descending order

 - Optional: give the displayed data cleaner formatting

 - Display a preview of the data frame

In [37]:
### Most Profitable Items

  #Identify the 5 most profitable items by total purchase value, then list (in a table):
  # Item ID
  # Item Name
  # Purchase Count
  # Item Price
  # Total Purchase Value

# Sort table to show the top five spenders.

Most_profitable_items = items_summary_df.sort_values("Total_purchase_value", ascending=False)

Most_profitable_items.head(5)

,,Purchase_count,Item_price,Total_purchase_value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

# Three observable trends

 - No one have spent more than $20.00 in the game.
 - Most in app purchases were made  20 -24 years old.
 - Most popular items prices are below the average item price.